html {
	height: 100%;
    margin: 0;
    padding: 0;
}
body {
	height: 100%;
    margin: 0;
    padding: 0;
	color: black;
	font-family: Raleway;
	background-color: rgba(248, 248, 255, 0.5)
}
/* FONT*/
h1 {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	color: white;
	display: inline-block;
}
h2 {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 19px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 20px;
	color: rgba(46, 46, 10, 1.0);
	display: inline-block;
}
h3 {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	color: white;
	display: inline-block;
}
p {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}
/*END OF FONT*/
a {
	margin-left: 5px;
	margin-right: 5px;
	text-decoration: none;
}
a h1:hover {
	color: black;
	font-weight: 700;
}
a h2:hover {
	color: black;
	font-weight: 700;
}
a h3:hover {
	color: black;
	font-weight: 700;
}
img {
}
ul {
	list-style: none;
	margin: 0;
}
.app-container {
	height: 100%;
	padding: 0;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
.main-container {
	height: 100%;
	width: 100%;
	background-image: url('../img/grass_rock_pattern.jpeg');
	background-size: cover;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}
.welcome-div {
	text-align: center;
}
.welcome-div h1 {
	margin: 5px;
	font-weight: bold;
	font-size: 35px;
	line-height: 37px;
}
.welcome-div h3 {
	margin: 5px;
	font-weight: bold;
	font-size: 25px;
	line-height: 27px;
}
.header {
	flex: 1 100%;
	height: auto;
	padding: 0;
	background: #CCCCB2; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #CCCCB2 , #757519); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(#757519, #CCCCB2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-bottom: black solid 1px;
}
.header-interior {
	height: 100%;
	width: 100%;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
}
.header-link {
	vertical-align: middle;
	flex: 1;
}
.header-link:last-child {
	text-align: right;
}
.content {
	flex: 1 100%;
	height: 90%;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
.menu-item {
	flex: 1 100%;
}
.footer {
	color: black;
	flex: 1 100%;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
.social-pic {
	height: 50px;
	width: 50px;
	border-radius: 10px;
}
.link-div {
	background-color: #CCCCB2;
	border: 1px solid gray;
	margin-left: 10%;
	margin-right: 10%;
	padding: 10px;
	border-radius: 7px;
}
.footer-item {
	margin-left: 10%;
	margin-right: 10%;
}
.project-div {
	flex: 1 100%;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}
.project-image {
	width: 300px;
	height: 300px;
	border-radius: 7px;
	border: 1px solid gray;
	margin-top: 10px;
	margin-bottom: 10px;
}
.project-info {
	height: 280px;
	width: 280px;
	border: 1px solid gray;
	background-color: #CCCCB2;
	padding: 10px;
	border-radius: 7px;
	margin-top: 10px;
	margin-bottom: 10px;
}
@media (min-width: 600px) {
	.project-div:nth-child(even){
		/*flex-direction: row-reverse;*/
	}
}
.basic-info {
	flex: 1 100%;
	margin-top: 15px;
}
.more-info {
	flex: 1 100%;
	margin-top: 15px;
}
.pic-div {
	border-radius: 7px;
	background-image: url("../img/meeee.jpg");
	background-repeat: no-repeat;
	background-size: fill;
	background-position: center;
	height: 300px;
	width: 300px;
	margin: auto;
	border: black solid 1px;
}
.profile-div {
	border: 1px solid gray;
	background-color: #CCCCB2;
	padding: 10px;
	border-radius: 7px;
	border-radius: 7px;
	margin-left: 10%;
	margin-right: 10%;
}
.info-div {
	border: 1px solid gray;
	background-color: #CCCCB2;
	padding: 10px;
	border-radius: 7px;
	border-radius: 7px;
	flex: 1 100%;
	margin-left: 10%;
	margin-right: 10%;
}
@media(min-width: 700px) {
	.basic-info {
		flex: 1;
	}
	.pic-div {
		margin-left: 20%;
	}
	.profile-div {
		margin-right: 20%;
	}
}
.resume-section {
	flex: 1 100%;
}
.resume-education {
	background-color: #CCCCB2;
	padding: 10px;
	border-radius: 7px;
	border: 1px solid gray;
	width: 90%;
	margin: 10px auto;
}
.resume-work {
	background-color: #CCCCB2;
	padding: 10px;
	border-radius: 7px;
	border: 1px solid gray;
	width: 90%;
	margin: 10px auto;
}







/*ADMIN STYLING*/
.admin-container {
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
.admin-section {
	flex: 1 100%;
	border-bottom: 1px black dotted;
	padding: 10px;
}
.education-section {
	border: 1px solid black;
	padding: 5px;
	margin-bottom: 5px;
}
.project-section {
	border: 1px solid black;
	padding: 5px;
	margin-bottom: 5px;
}
.work-section {
	border: 1px solid black;
	padding: 5px;
	margin-bottom: 5px;
}
.landing-input {
	width: 80%;
}
.personal-input {
	width: 200px;
}
.project-input {
	width: 80%;
}
.social-input {
	width: 80%;
}























