<div appheader class="header"></div>
<div class="content">
	<div class="basic-info">
		<div class="pic-div"></div>
	</div>
	<div class="basic-info">
		<div class="profile-div">
			<h1>{{ aboutMe.FirstName }} {{ aboutMe.LastName }}</h1><br>
			<h3>{{ aboutMe.Age }}</h3><br>
			<h3>{{ aboutMe.City }}</h3><br>
			<h3>{{ aboutMe.Email }}</h3>
		</div>
	</div>
	<div class="more-info">
		<div class="info-div">
			<pre>{{ aboutMe.information }}</pre>
		</div>
	</div>
	<div class="footer">
	  <div class="footer-item social-links">
	  	<a href="https://www.instagram.com/diggerous/" target="_blank"><img class="social-pic" src="img/Instagram_Logo.png"></a>
	  	<a href="https://twitter.com/douglaskerins" target="_blank"><img class="social-pic" src="img/Twitter_Logo.png"></a>
	  </div>
	</div>
</div>



