<div appheader class="header"></div>
<div class="content">
	<div class="menu-item">
		<div class="link-div">
			<a href="#/portfolio"><h3>Portfolio</h3></a>
		</div>
	</div>
	<div class="menu-item">
		<div class="link-div">
			<a href="#/resume"><h3>Resume</h3></a>
		</div>	
	</div> 
	<div class="menu-item">
		<div class="link-div">
			<a href="#/aboutme"><h3>About Me</h3></a>
		</div>
	</div>
	<div class="footer">
	  <div class="footer-item social-links">
	  	<a href="https://www.instagram.com/diggerous/" target="_blank"><img class="social-pic" src="img/Instagram_Logo.png"></a>
	  	<a href="https://twitter.com/douglaskerins" target="_blank"><img class="social-pic" src="img/Twitter_Logo.png"></a>
	  </div>
	</div>
</div>

