<div appheader class="header"></div>
<div class="content">
	<div ng-repeat="project in projects" class="project-div">
		<div class="project-image-div">
			<img src="{{ project.ImageSource }}">
		</div>
		<div class="project-info">
			<h2>{{ project.Name }}</h2><br>
			<h3>{{ project.Client }}</h3>
			<h3>{{ project.Long_Summary }}</h3><br>
		</div>
	</div>
</div>
<div class="footer">
  <div class="footer-item social-links">
  	<a href="https://www.instagram.com/diggerous/" target="_blank"><img class="social-pic" src="img/Instagram_Logo.png"></a>
  	<a href="https://twitter.com/douglaskerins" target="_blank"><img class="social-pic" src="img/Twitter_Logo.png"></a>
  </div>
</div>




