<div appheader class="header"></div>
<div class="content">
	<a href="#/{{$index}}" ng-repeat="project in projects" class="project-div">
		<!-- <div ng-repeat="project in projects" class="project-div"> -->
			<img class="project-image" src="{{ project.ImageSource }}">
			<div class="project-info">
				<h2>{{ project.Name }}</h2><br>
				<h3>{{ project.Short_Summary }}</h3><br>
				<h3>{{ project.Client }}</h3>
			</div>
		<!-- </div> -->
	</a>
</div>
<div class="footer">
  <div class="footer-item social-links">
  	<a href="https://www.instagram.com/diggerous/" target="_blank"><img class="social-pic" src="img/Instagram_Logo.png"></a>
  	<a href="https://twitter.com/douglaskerins" target="_blank"><img class="social-pic" src="img/Twitter_Logo.png"></a>
  </div>
</div>




