<div appheader class="header"></div>
<div class="content">
	<div class="project-slideshow">
		<div class="project-slide" style="background: url('{{ currentProject.ImageSource }}'); background-position: center; background-size: cover"></div>
		<div class="project-slide" ng-repeat="img in currentProject.Images" style="background: url('{{ img }}'); background-position: center; background-size: cover"></div>
	</div>
	<div class="project-info">
		<h2>{{ currentProject.Name }}</h2><br>
		<h3>{{ currentProject.Client }}</h3><br>
		<pre>{{ currentProject.Long_Summary }}</pre>
	</div>
</div>
<div class="footer">
  <div class="footer-item social-links">
  	<a href="https://www.instagram.com/diggerous/" target="_blank"><img class="social-pic" src="img/Instagram_Logo.png"></a>
  	<a href="https://twitter.com/douglaskerins" target="_blank"><img class="social-pic" src="img/Twitter_Logo.png"></a>
  </div>
</div>






