<div appheader class="header"></div>
<div class="content">
	<div class="project-div">
		<div class="project-info">
			<h2>{{ currentProject.Name }}</h2><br>
			<h3>{{ currentProject.Client }}</h3><br>
			<h3>{{ currentProject.Long_Summary }}</h3>
		</div>
	</div>
	<div class="footer">
	  <div class="footer-item social-links">
	  	<a href="https://www.instagram.com/diggerous/" target="_blank"><img class="social-pic" src="img/Instagram_Logo.png"></a>
	  	<a href="https://twitter.com/douglaskerins" target="_blank"><img class="social-pic" src="img/Twitter_Logo.png"></a>
	  </div>
	</div>
</div>





