<div appheader class="header"></div>
<div class="content">
	<div>
		Employment History
		Kino Lorber, Inc-Manager of Special Markets, Home Media Sales & Distribution 		                              May 2013-Present
		New York, New York
		-Sales Representative for Special Market Wholesale Accounts
		-Expanding existing special market account-base
		-Keeping buyers up-to-date on new releases, upcoming releases and sales materials (screeners, box art, metadata, one sheets)
		-Overseeing order process (from receipt of purchase orders, entry, shipping from warehouse, invoicing, returns, and any problems that may arise during the order process)
		-Tracking New Release sales numbers for estimating Future DVD sales and acquisitions, Generating weekly, monthly, and annual sales reports
		-Primary contact for distribution relations with SONY DADC warehouse
		-Assistant to SVP of Home Media Distribution and Sales
		-Reviewing potential films for acquisitions for Home Video label
		-Tracking and reporting sales by Label, Licensor, etc., for future acquisitions and for Brand Managers 
		-Liaison to Accounts Payable departments of all Wholesale Accounts

		Kino Lorber, Inc-Administrative Assistant		    			                                      March 2013-May 2013
		New York, New York
		-Handled Administrative Flow of Office, Heavy Phone Coverage, Managed General Email Account (Directed professional emails to appropriate parties and Answered Customer Inquiries), Printed and Mailed Theatrical/Nontheatrical Invoices, Printed Quarterly Royalty Reports, Managed/Taught Interns, Proofread, Assisted with Theatrical Marketing, Entered new Films and Products into 4D (Order Management Software)

		Kino Lorber, Inc-Intern                                                                                                                                              January 2012-March 2013
		New York, New York
		-Researched for Publicity and Distribution Outreach, Creation and Modification of Outreach Spreadsheets, Handled Email Outreach Campaign, Researched films and prepared Overview sheets for Acquisition Meetings, Entered Mail Orders, Handled Phone orders, Prepared and Sent Screeners, Proofread, Handled Reception Duties and General Office Tasks

		Half Yard Productions-Post Production Intern                                                                                           November 2012-February 2013
		New York, New York
		-Logged Footage, Made Screeners on Tape Decks (HDV and DVCPro), Loaded Tapes into Avid (HDV and DVCPro), Managed Tape Lists, Managed Media Lists, Handled Reception Duties, General Support of Production and Post-Production Departments and General Office Tasks

		Abbot Entertainment-Script Reading Intern (Remote)                                                                                           June 2012-August 2012
		Los Angeles, CA
		-Read Scripts and Provide Coverage in order to determine which scripts would fulfill Producers and a potential audience’s needs

		Education
		College of William and Mary                                                                                                                                       August 2008- May 2012
		BA-History, Film Studies, and Art History
		Williamsburg, VA, United States
		Queen Mary, University of London                                                                                                                           January 2011-June 2011
		Study Abroad Program
		London, England
		●	Studied Film and Art History

	</div>
	<div>
		<a href="img/DouglasKerins_Resume_080515.pdf" download>Download A PDF Version!</a>
	</div>
</div>

