<div appheader class="header"></div>
<div class="content">
	<div class="resume-section">
		<h4>WORK HISTORY</h4>
		<div class="resume-section" ng-repeat="job in resume.workhistory">
			
		</div>
	</div>
	<div class="resume-section">
		<h4>EDUCATION</h4>
		<div class="resume-education" ng-repeat="school in resume.Education">
			<h2>{{ school.Name }}</h2><br>
			<h3>{{ school.Start }}-{{ school.End }}</h3><br>
			<h3>{{ school.Degree }}</h3><br>
			<h3>{{ school.Field }}</h3><br>
		</div>
	</div>
	<div class="resume-section">
		<a href="img/DouglasKerins_Resume_080515.pdf" download>Download A PDF Version!</a>
	</div>
</div>

